.PageContainerContact {
  margin-top: 9vw;
  font-size: 1.5vw;
  color: magenta;
}

.PageContainerform {
  padding-bottom: 5vw;
}

.PageContainerform2 {
  padding-bottom: 5vw;
}

.PageContainerform3 {
  padding-bottom: 100vw;
}
