.PageContainerNode {
  background-image: url(../../images/background.jpeg);
}

.PageContainerNode h1 {
  color: green;
  font-family: "Kaushan Script", cursive;
  font-size: 3.5em;
}

.PageContainerNode h2 {
  color: blue;
  font-family: "Kaushan Script", cursive;
  font-size: 3.5em;
}

.PageContainerNode p {
  font-size: 1.3em;
}
