.PageContainerHome {
  background-image: url(../../images/background.webp);
}

.PageContainerHome img {
  width: 100%;
  height: 25em;
}

.PageContainerHome h1 {
  color: brown;
  font-family: "Kaushan Script", cursive;
  font-size: 66px;
}

.PageContainerHome h2 {
  color:brown;
  font-family: "Kaushan Script", cursive;
  font-size: 3.5em;
}

.PageContainerHome p {
  font-size: 1.3em;
  color:rgb(0, 0, 0);
}
